* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Magiskos_font;
    src: url(/Font/FONTAI_SRIFTAI.docx);
}

body {
    font-family: Magiskos_font;
    margin-top: 300px;

}

.KontJuosta {
    background-color: pink;
    position: fixed;
    top:0;
    width: 100%;
}

.kontJuosta a {
    color: red;
}

.nr {}

.phoneLogo {
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.topJuosta {
    background-color: rgba(77, 59, 59, 0.8);
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    margin-top: 28px;
    position: fixed;
    top:0;
    width: 100%;
    /* height: 100px;*/
    background-image: linear-gradient( to right, whitesmoke, rgb(226, 149, 162, 0.8));
}

.pirmaDalis {
    /*background-color: rgba(77, 59, 59, 0.2);*/
    width: min-content;
    float: left;
    shape-outside: circle(50%);

}

.logo {
    width: 140px;
}

.pasirinkimai {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 2;
}

.nuoroda {
    
    font-size: 20px;
}
.kategorijos {
    display: flex;
    justify-content: space-around;
    flex-direction: row wrap;
}
.kategorijos a {
   overflow:hidden; 
}

.kateg {
    width: 150px;
}